html,
body {
    min-width: 100%;
    margin: 0 auto;
    font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #283136;
	background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

.main-header {
    background-color: #eeeeee;
}

.container {
	width: 1200px;
	margin: 0 auto;
	color: #283136;
	background-color: #ffffff;
}

.main-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 49px;
	text-transform: uppercase;
    background-color: #eeeeee;

	outline: 1px solid red;
    min-height: 115px;
}

.navigation ul {
	list-style: none;
}

.navigation li {
	display: inline-block;
}

.user-block {
    width: 160px;

    outline: 1px solid green;
}

/*Текстовые стили общие*/

h1 {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

h2 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

h3 {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

/*Собственные стили для index.html*/

.slider {
    margin-bottom: 80px;
}

.slider .container {
	
	outline: 1px solid red;
    min-height: 424px; 
}

.advantages .container {
	display: flex;
	justify-content: space-between;
    align-items: flex-end;

	outline: 1px solid red;
    min-height: 430px;
}

.advantages .block {
    width: 300px;
    margin-right: 100px;

	outline: 1px solid blue;
    min-height: 283px;
}

.about-studio .container {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

	outline: 1px solid red;
    min-height: 527px;
}

.about-studio .block {
    margin-top: 37px;

	outline: 1px solid yellow;
    min-height: 434px;
}

.block-info {
    width: 720px;
    margin-right: 60px;
}

.block-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features {
    display: flex;
    width: 420px;
    margin: auto;
}

.clients .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
    margin-bottom: 80px;

	outline: 1px solid red;
    min-height: 182px;
}

.map {
    position: relative;
}

.map img {
    width: 100%;
}

.pin {
    font-size: 0;
}

.address {
    position: absolute;
    bottom: 85px;
    left: 190px;
    width: 319px;
    color: #000000;
    background-color: #ffffff;

    min-height: 308px;
}

/*Универсальные стили для Footer*/

footer {
    outline: 1px solid red;
}

footer .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
    margin-bottom: 50px;

	outline: 1px solid blue; 
}

.social-apps {
    width: 260px;

    outline: 1px solid green;
}

.discount {
    width: 640px;

    outline: 1px solid green;
}

.discount > p {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    background-color: #ffffff;
}

.discount span {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    background-color: #ffffff; 
}

/*Собственные стили для catalog.html*/

.title {
	display: flex;
	justify-content: center;

	outline: 1px solid red;
}

.filter {
	display: flex;
	
	outline: 1px solid red;
}

.templates {


	outline: 1px solid red;
}

.sorting {
	display: flex;

	outline: 1px solid green;
}

.sorting a {
	text-decoration: none;
}

.sorting-items {
	display: flex;
	
	outline: 1px solid green;
}

.sorting-items li {
	display: inline-block;
	list-style: none;
	text-transform: lowercase;
}



/*Sprites*/

.sprite {
    background-repeat: no-repeat;
    display: block;
}

.sprite-advantage-apps {
    width: 300px;
    height: 146px;
    background-position: -10px -10px;
}

.sprite-advantage-present {
    width: 300px;
    height: 146px;
    background-position: -10px -176px;
}

.sprite-advantage-web {
    width: 300px;
    height: 146px;
    background-position: -10px -342px;
}

.sprite-browser {
    width: 360px;
    height: 40px;
    background-position: -10px -508px;
}

.sprite-browser-hover {
    width: 360px;
    height: 40px;
    background-position: -10px -568px;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -10px -628px;
}

.sprite-checkbox-off {
    width: 23px;
    height: 23px;
    background-position: -10px -663px;
}

.sprite-checkbox-off-disabled {
    width: 23px;
    height: 23px;
    background-position: -10px -706px;
}

.sprite-checkbox-off-hover {
    width: 23px;
    height: 23px;
    background-position: -10px -749px;
}

.sprite-checkbox-on {
    width: 27px;
    height: 23px;
    background-position: -10px -792px;
}

.sprite-checkbox-on-disabled {
    width: 27px;
    height: 23px;
    background-position: -10px -835px;
}

.sprite-checkbox-on-hover {
    width: 27px;
    height: 23px;
    background-position: -10px -878px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -10px -921px;
}

.sprite-fb-icon-down {
    width: 12px;
    height: 22px;
    background-position: -10px -963px;
}

.sprite-ha-logo-down {
    width: 199px;
    height: 68px;
    background-position: -10px -1005px;
}

.sprite-ha-logo-hover {
    width: 199px;
    height: 68px;
    background-position: -10px -1093px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -10px -1181px;
}

.sprite-insta-icon-down {
    width: 21px;
    height: 21px;
    background-position: -10px -1222px;
}

.sprite-map-pin {
    width: 231px;
    height: 190px;
    background-position: -10px -1263px;
}

.sprite-mishka-logo-down {
    width: 173px;
    height: 84px;
    background-position: -10px -1473px;
}

.sprite-mishka-logo-hover {
    width: 173px;
    height: 84px;
    background-position: -10px -1577px;
}

.sprite-nerds-logo-down {
    width: 161px;
    height: 65px;
    background-position: -10px -1681px;
}

.sprite-nerds-logo-hover {
    width: 161px;
    height: 65px;
    background-position: -10px -1766px;
}

.sprite-pink-logo-down {
    width: 185px;
    height: 52px;
    background-position: -10px -1851px;
}

.sprite-pink-logo-hover {
    width: 185px;
    height: 52px;
    background-position: -10px -1923px;
}

.sprite-radio-off {
    width: 25px;
    height: 25px;
    background-position: -10px -1995px;
}

.sprite-radio-off-disabled {
    width: 25px;
    height: 25px;
    background-position: -10px -2040px;
}

.sprite-radio-off-hover {
    width: 25px;
    height: 25px;
    background-position: -10px -2085px;
}

.sprite-radio-on {
    width: 25px;
    height: 25px;
    background-position: -10px -2130px;
}

.sprite-radio-on-disabled {
    width: 25px;
    height: 25px;
    background-position: -10px -2175px;
}

.sprite-radio-on-hover {
    width: 25px;
    height: 25px;
    background-position: -10px -2220px;
}

.sprite-slide-1 {
    width: 760px;
    height: 431px;
    background-position: -10px -2265px;
}

.sprite-slide-2 {
    width: 760px;
    height: 431px;
    background-position: -10px -2716px;
}

.sprite-slide-3 {
    width: 760px;
    height: 431px;
    background-position: -10px -3167px;
}

.sprite-sort-down {
    width: 9px;
    height: 9px;
    background-position: -10px -3618px;
}

.sprite-sort-down-active {
    width: 9px;
    height: 9px;
    background-position: -10px -3647px;
}

.sprite-sort-down-hover {
    width: 9px;
    height: 9px;
    background-position: -10px -3676px;
}

.sprite-sort-up {
    width: 9px;
    height: 9px;
    background-position: -10px -3705px;
}

.sprite-sort-up-active {
    width: 9px;
    height: 9px;
    background-position: -10px -3734px;
}

.sprite-sort-up-hover {
    width: 9px;
    height: 9px;
    background-position: -10px -3763px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -10px -3792px;
}

.sprite-vk-icon-down {
    width: 26px;
    height: 15px;
    background-position: -10px -3827px;
}
